/app/app/bootstrap.php.cache
/app/app/cache/*
/app/!app/cache/.gitkeep
/app/app/config/parameters.yml
/app/app/logs/*
!app/app/logs/.gitkeep
/app/app/phpunit.xml
/app/bin/
/app/composer.phar
/app/vendor/
/app/web/bundles/
/app/README.md
